ETL AUTOMATION.json
{
  "name": "ETL AUTOMATION",
  "nodes": [
    {
      "parameters": {
        "formTitle": "File_upload",
        "formDescription": "File upload",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File_upload",
              "fieldType": "file"
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -1008,
        -176
      ],
      "id": "62d7a755-0af4-473f-87fd-9af00b09b65b",
      "name": "On form submission",
      "webhookId": "5d66a34c-1611-4a8b-b461-d4700982afc5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['File upload'] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "f1e9c2f3-ecaf-4ea0-ac3d-1ebee66e9997"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "11c0692d-dcb1-4b66-973f-717853e5a641",
                    "leftValue": "={{ $json['File upload'] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -768,
        -160
      ],
      "id": "a46ce830-c0e9-4764-b96c-2f398a757a5d",
      "name": "Switch"
    },
    {
      "parameters": {
        "binaryPropertyName": "File_upload",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -528,
        -144
      ],
      "id": "b1b4c161-6772-486e-83cf-71923d7143b4",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Clean this student enrollment row and return ONLY a JSON object.\nRow data: {{ JSON.stringify($json) }}\nRules:\n- Name: Title Case\n- Email: if invalid (no @ or no .com/.in) set INVALID_EMAIL\n- Phone: if less than 10 digits or empty set MISSING\n- Course: only Python or Machine Learning or Data Science\n- Fee_Paid: yes/YES = true, no/NO = false\n- City: Title Case, empty = UNKNOWN\n- Enrolled_Date: YYYY-MM-DD format\nReturn ONLY raw JSON. No explanation. No markdown.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -320,
        -144
      ],
      "id": "9ebc18eb-53f9-44e6-a90f-5d13f4cfc958",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -320,
        32
      ],
      "id": "8a923284-b232-4f80-a1c6-815abbfc9749",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UzXFPAYNQgYIuOxo",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction parseAIJson(raw) {\n  if (!raw) return null;\n\n  let text = String(raw).trim();\n\n  // Remove markdown code fences if AI returned ```json ... ```\n  text = text\n    .replace(/^```json/i, \"\")\n    .replace(/^```/i, \"\")\n    .replace(/```$/i, \"\")\n    .trim();\n\n  return JSON.parse(text);\n}\n\nfunction isValidEmail(email) {\n  return /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n}\n\nreturn items.map((item) => {\n  const parsed = parseAIJson(item.json.text);\n\n  const cleaned = {\n    Student_ID: parsed.Student_ID?.trim() || null,\n    Name: parsed.Name?.trim() || null,\n    Email: isValidEmail(parsed.Email) ? parsed.Email.trim().toLowerCase() : null,\n    Phone: String(parsed.Phone || \"\").replace(/\\D/g, \"\"),\n    Course: parsed.Course?.trim() || null,\n    Fee_Paid: Boolean(parsed.Fee_Paid),\n    City: parsed.City?.trim() || null,\n    Enrolled_Date: parsed.Enrolled_Date || null,\n\n    // optional validation flags\n    Email_Valid: isValidEmail(parsed.Email),\n    Phone_Valid: String(parsed.Phone || \"\").replace(/\\D/g, \"\").length === 10\n  };\n\n  return {\n    json: cleaned\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        32
      ],
      "id": "23851e32-1c7e-401a-8bd0-683591fcf35a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3b5a3a7a-c9d1-4fb8-a7e2-468b5b6c50e3",
              "leftValue": "={{ $json.City }}",
              "rightValue": "Chennai",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "b0b7b3b2-c02e-4be9-a814-6ce5621eda2a",
              "leftValue": "={{ $json.Email_Valid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        -64
      ],
      "id": "774539c3-52a5-4644-b6fc-50b9ce2fded0",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4934b3a1-587e-447a-9de1-72c8f00f111a",
              "leftValue": "={{ $json.City }}",
              "rightValue": "Chennai",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2873df57-1ade-4be1-827e-f496bebd21c6",
              "leftValue": "={{ $json.Email_Valid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        -240
      ],
      "id": "5ad59864-0b4f-4499-96a3-83bede24839c",
      "name": "If1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        -128
      ],
      "id": "db122f20-0ab7-43e6-890c-eee3dfce6c28",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3b5a3a7a-c9d1-4fb8-a7e2-468b5b6c50e3",
              "leftValue": "={{ $json.City }}",
              "rightValue": "Chennai",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "b0b7b3b2-c02e-4be9-a814-6ce5621eda2a",
              "leftValue": "={{ $json.Email_Valid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        96
      ],
      "id": "3982d88a-e16b-4fde-be87-5d22c62ed0c2",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4934b3a1-587e-447a-9de1-72c8f00f111a",
              "leftValue": "={{ $json.City }}",
              "rightValue": "Chennai",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "2873df57-1ade-4be1-827e-f496bebd21c6",
              "leftValue": "={{ $json.Email_Valid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        272
      ],
      "id": "affa06de-8b22-435a-a519-600f9eaf6de7",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3b5a3a7a-c9d1-4fb8-a7e2-468b5b6c50e3",
              "leftValue": "={{ $json.City }}",
              "rightValue": "Chennai",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "b0b7b3b2-c02e-4be9-a814-6ce5621eda2a",
              "leftValue": "={{ $json.Email_Valid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "0c06c770-f85c-4468-9dfa-f51e437d109c",
              "leftValue": "={{ $json.Fee_Paid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        448
      ],
      "id": "c415cb33-f826-4113-b743-5bbeadb2149f",
      "name": "If4"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "chennai_paid_confirmed"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        768,
        448
      ],
      "id": "efd9df2f-2fe5-4e27-8b01-9e9230cf6863",
      "name": "chennai_paid_confirmed"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "others_invalid_email"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        768,
        272
      ],
      "id": "2e919f00-3e1b-4ba9-992b-9067fa161810",
      "name": "others_invalid_email"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "Others_valid_email"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        752,
        96
      ],
      "id": "ee1ac47a-da83-4d15-9d97-65da220eae05",
      "name": "Others_valid_email"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "Chennai_valid_email"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        768,
        -80
      ],
      "id": "70bb2578-1085-441b-8b44-25b44b0c8bf4",
      "name": "Chennai_valid_email"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "Chennai_invalid_email"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        752,
        -272
      ],
      "id": "22454b78-f802-464f-9a00-adfbf58ac08c",
      "name": "Chennai_invalid_email"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Chennai_invalid_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "If3",
            "type": "main",
            "index": 0
          },
          {
            "node": "If4",
            "type": "main",
            "index": 0
          },
          {
            "node": "others_invalid_email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Chennai_valid_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Others_valid_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "others_invalid_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "chennai_paid_confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "490dffbf-4ada-4612-b081-3db4c0cdfa08",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "799847b87cc7bd2e548114efd8abf4f94974528e10e32b23bc6264c2d60ac6af"
  },
  "nodeGroups": [],
  "id": "2P5tj2rf9N1e5nbM",
  "tags": []
}